#Capture{
    font-family: "Playwrite GB S", cursive;
}
#craft{
    font-family: "Dancing Script", cursive;
}

.lsi{
    font-family: "Grey Qo", cursive;
}
#essence{
    font-family: "Playwrite GB S", cursive;
    font-size: 40px;
    
}
#shot{
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    color: gold;
}
#build{
    font-family: "Playwrite GB S", cursive;
    font-size: 30px
}
#P{
    font-family: "Dancing Script", cursive;
    color: gold;
    font-size: 20px;
}
#about{
    font-family: "Playwrite GB S", cursive;
    font-size: 30px
}
#lorem{
    font-family: "Dancing Script", cursive;
    color: gold;
    font-size: 20px;
}
#get{
    font-family: "Playwrite GB S", cursive;
    font-size: 30px
}